<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>GuiMate</string>
	<key>ordering</key>
	<array>
		<string>796B9570-D42F-488F-B532-32334B84A0F1</string>
	</array>
	<key>uuid</key>
	<string>F5D86AA8-113C-4EB6-9E28-F301B65658A5</string>
</dict>
</plist>
